  .form-control-sm {
    font-size: 15px;  /* Reducir el tamaño de la fuente */
    padding: 4px 8px; /* Reducir el padding */
    height: 30px;     /* Ajustar la altura */
  }
  
  input.form-control {
    font-size: 15px;   /* Reducir el tamaño de la fuente */
    padding: 4px 8px;  /* Ajustar el padding */
    height: 30px;      /* Reducir la altura */
  }
