* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    width: 100vw; /* Ocupa todo el ancho de la pantalla */
  }
  
  .menu {
    width: 250px;
    background-color: #f4f4f4;
    padding: 10px;
  }
  
  .content {
    flex-grow: 1;
    padding: 10px;
  }
  