* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    width: 100vw; /* Ocupa todo el ancho de la pantalla */
  }
  
  .menu {
    width: 250px;
    background-color: #f4f4f4;
    padding: 5px;
    transition: width 0.3s ease;
  }
  
  .menu.hidden {
    width: 0;
    overflow: hidden;
}

.menu-toggle {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

  .content {
    flex-grow: 1;
    padding: 10px;
    position: relative;
  }
  
  .logout-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}
