
.search-container {
  /*display: flex;*/
  /*flex-direction: column;*/
  gap: 10px;
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

/*.full-width {
  width: 100%;
}*/

.filter-input {
  font-size: 12px !important;
  height: 20px !important;
  padding: 2px !important;
}

.actions {
  /*display: flex;*/
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.compact-rows mat-row, 
.compact-rows mat-header-row, 
.compact-rows td, 
.compact-rows th {
  height: 24px !important;
  min-height: 24px !important;
  line-height: 1 !important;
  padding: 0px 8px !important;
}

.compact-rows td, 
.compact-rows th {
  font-size: 12px !important;
  vertical-align: middle !important;
}

.data-row:hover {
  background-color: #f1f1f1;
}

.selected {
  background-color: #90caf9 !important;
}

.small-select .mat-select-trigger {
  min-height: 30px !important;
  font-size: 12px;
  padding: 2px 8px !important;
}

.mat-cell, .mat-header-cell {
  padding: 1px 1px !important; 
  font-size: 5px; 
}

tr.mat-footer-row {
  border: 1px solid #e7e7e7;
  font-weight: bold;
  height: 5px !important;
}

.hover-cursor .mat-row {
  cursor: pointer;
}

/* Asegurar que la tabla ocupa su contenedor sin sobresalir */
.table-container {
  overflow: auto;
  max-height: 500px; /* Ajusta según el tamaño deseado */
  height: 500px;
  border: 2px solid #ccc; /* Ajusta el grosor y color según necesites */
  border-collapse: collapse; /* Asegura que los bordes no se dupliquen */
  /*max-width: 1200px;*/
}

/* Ajuste extra para celdas */
.compact-rows td,
.compact-rows th {
  font-size: 12px !important;
  vertical-align: middle !important;
  /*white-space: nowrap; /* Evita que el texto se expanda */
}

.compact-rows th {
  border: 1px solid #ccc !important; /* Color y grosor del borde */
  background-color: #f8f8f8; /* Color de fondo opcional */
  text-align: center;
}

/* Ajustar select para que no ocupe mucho espacio */
.small-select .mat-select-trigger {
  min-height: 28px !important;
  font-size: 12px;
  padding: 2px 8px !important;
}

/* Mejorar visibilidad de la selección */
.selected {
  background-color: #90caf9 !important;
}

