
.search-container {
  /*display: flex;*/
  /*flex-direction: column;*/
  gap: 10px;
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

/*.full-width {
  width: 100%;
}*/

.filter-input {
  font-size: 12px !important;
  height: 20px !important;
  padding: 2px !important;
  width: 100% !important;
}

/*
.filter-select {
  width: 100% !important; 
  max-width: 80px !important;
  font-size: 12px !important;
  height: 20px !important;
  padding: 2px !important;
  line-height: 20px !important;
}

.filter-select .mat-select-trigger {
  height: 20px !important;
  line-height: 20px !important;
  font-size: 12px !important;
  display: flex;
  align-items: center;
  padding: 0 2px !important;
}*/

/* Reducir la altura del mat-form-field del select */
.small-filter {
  /*width: 80%;*/
  height: 24px !important;
  margin: 0 !important;
  padding: 0 !important;
}

/* Ajustar el espacio interno del mat-form-field */
.small-filter .mat-form-field-wrapper {
  padding-bottom: 0px !important;
  margin: 0 !important;
}

/* Ajustar la altura del mat-select para que coincida con el input */
.filter-select {
  font-size: 12px !important;
  height: 20px !important;
  min-height: 20px !important;
  padding: 0px !important;
  line-height: 20px !important;
}

/* Ajustar la altura interna del mat-select */
.filter-select .mat-select-trigger {
  height: 20px !important;
  min-height: 20px !important;
  font-size: 12px !important;
  display: flex;
  align-items: center;
  padding: 0px !important;
}

.actions {
  /*display: flex;*/
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.compact-rows mat-row, 
.compact-rows mat-header-row, 
.compact-rows td, 
.compact-rows th {
  height: 24px !important;
  min-height: 24px !important;
  line-height: 1 !important;
  padding: 0px 8px !important;
}

.compact-rows td, 
.compact-rows th {
  font-size: 12px !important;
  vertical-align: middle !important;
}

.data-row:hover {
  background-color: #f1f1f1;
}
.mat-row:hover {
  background-color: #e0f7fa !important; /* Azul claro */
  cursor: pointer;
}
.selected {
  background-color: #90caf9 !important;
}

.small-select .mat-select-trigger {
  min-height: 20px !important;
  font-size: 12px;
  padding: 2px 2px !important;
}

.mat-cell, .mat-header-cell {
  padding: 1px 1px !important; 
  font-size: 5px; 
}

tr.mat-footer-row {
  border: 1px solid #e7e7e7;
  font-weight: bold;
  height: 5px !important;
}

.hover-cursor .mat-row {
  cursor: pointer;
}

/* Asegurar que la tabla ocupa su contenedor sin sobresalir */
.table-container {
  overflow: auto;
  max-height: 480px; /* Ajusta según el tamaño deseado */
  height: 480px;
  border: 2px solid #ccc; /* Ajusta el grosor y color según necesites */
  border-collapse: collapse; /* Asegura que los bordes no se dupliquen */
  /*max-width: 1000px;*/
}

/* Ajuste extra para celdas */
.compact-rows td,
.compact-rows th {
  font-size: 12px !important;
  vertical-align: middle !important;
  /*white-space: nowrap; /* Evita que el texto se expanda */
}

.compact-rows th {
  border: 1px solid #ccc !important; /* Color y grosor del borde */
  background-color: #f8f8f8; /* Color de fondo opcional */
  text-align: center;
}

/* Ajustar select para que no ocupe mucho espacio */
/*.small-select .mat-select-trigger {
  min-height: 28px !important;
  font-size: 12px;
  padding: 2px 8px !important;
}*/

/* Mejorar visibilidad de la selección */
.selected {
  background-color: #90caf9 !important;
}

.table-row {
  height: 30px !important;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.7); /* Fondo semitransparente */
  z-index: 10;
}

.custom-height {
  height: 30px;
  /* Set the height you desire */
}

:host ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0%;
  margin-bottom: -15%;
  /*width: 100%;*/
}

:host ::ng-deep .mat-mdc-form-field:not(.mat-form-field-disabled) .mat-mdc-floating-label.mdc-floating-label {
  top: 50%;
}

:host ::ng-deep .mdc-floating-label--float-above {
  top: 80% !important;
}

:host ::ng-deep .mat-mdc-select-trigger {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

:host ::ng-deep .mat-mdc-select-value-text {
  font-size: 14px;
  display: flex;
  align-items: center; /* Alinea el texto verticalmente */
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 100%; /* Asegura que ocupe toda la altura */
}


::ng-deep .mat-mdc-form-field-subscript-wrapper {
  /*display: none !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;*/
  height: 5px !important; /* Ajusta según necesites */
  margin-top: 2px !important;
  padding-top: 0 !important;
}