.success-snackbar {
	background-color: #4caf50 !important; /* Verde */
	color: white !important;
}
  
.error-snackbar {
	background-color: #f44336 !important; /* Rojo */
	color: white !important;
}
  