<div class="container">
  <div class="row align-items-center">
    <div class="col-auto">
      <input
          type="text"
          #txt_codigo
          [id]="id+'_txt_codigo'"
          [(ngModel)]="txt_codigo"
          (change)="onCodigoChange($event)" 
          (keypress)="onCodigoKeyPress($event)"    
          class="form-control"
          [maxlength]="TamanioCodigo"
          (input)="onInput($event)"
          [placeholder]="'Código'"
          [disabled]="!Enabled"
          [attr.maxlength]="MaxLength"/>
    </div>
    <div class="col-auto">
      <button class="btn btn-light" [id]="id+'_btnBuscar'" #btnBuscar (click)="buscar()" tabindex="-1" [disabled]="!Enabled">
        <img src="assets/images/buscar.png" alt="Buscar" />
      </button>
    </div>
    <div class="col-auto" *ngIf="DescripcionVisible">
      <input
          type="text"
          #txt_descripcion
          [id]="id+'_txt_descripcion'"
          [(ngModel)]="txt_descripcion"
          class="form-control-plaintext"
          disabled
          tabindex="-1"
          style="width: 150px;"
          placeholder="Descripción"/>
    </div>
  </div>
    <span style="display: none;">
      <input type="hidden" [id]="id+'_hidCodigo'" #codigoHidden [(ngModel)]="hidCodigo" />
      <input type="hidden" [id]="id+'_hid_SearchFiltro'" [(ngModel)]="hid_SearchFiltro" />
      <button hidden [id]="id+'_btnLimpiar'" (click)="onClickLimpiar()">Oculto pero funcional</button>
    </span>
</div>
  