<div class="container">
  <div class="row align-items-center">
    <div class="col-auto">
      <input
          type="text"
          [id]="id+'_txt_code'"
          (change)="onChange($event)" 
          (keypress)="onKeyPress($event)"    
          class="form-control"
          (input)="onInput($event)"
          [disabled]="!Enabled"
          [attr.maxlength]="MaxLength" value=""
          [style.width.px]="TamanioCodigo"
          [(ngModel)]="txt_code"
          name="txt_code"
          />
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-light" [id]="id+'_btnSearch'" #btnBuscar (click)="buscar()" tabindex="-1" [disabled]="!Enabled">
        <img src="assets/images/buscar.png" alt="Buscar" />
      </button>
    </div>
    <div class="col-auto" *ngIf="DescripcionVisible">
      <input
          type="text"
          [id]="id+'_txt_descripcion'"
          class="form-control"
          tabindex="-1"
          style="width: 150px;"
          [disabled]="!HabilitarDescripcion"
          [style.width.px]="TamanioDescripcion"
          [(ngModel)]="txt_description"
          />
    </div>
  </div>
    <span style="display: none;">
      <input type="hidden" [id]="id+'_hidCodigo'" #codigoHidden [(ngModel)]="hidCodigo" />
      <input type="hidden" [id]="id+'_hid_SearchFiltro'" [(ngModel)]="hid_SearchFiltro" />
      <button type="button" hidden [id]="id+'_btnLimpiar'" (click)="onClickLimpiar()"></button>
      <button type="button" hidden [id]="id+'_btnBuscar'" (click)="buscarCodigo()"></button>
    </span>
</div>
