<!-- 
<div class="container">
  <div class="row align-items-center">
    <div class="col-auto">
      <input
          type="text" [id]="id+'_txt_code'"
          (change)="onChange($event)" (keypress)="onKeyPress($event)" (input)="onInput($event)"
          class="form-control"
          [disabled]="!Enabled" [attr.maxlength]="MaxLength" 
          [style.width.px]="TamanioCodigo" [(ngModel)]="txt_code"
          name="txt_code" />
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-light" [id]="id+'_btnSearch'" 
              #btnBuscar (click)="buscar()" [disabled]="!Enabled">
        <img src="assets/images/buscar.png" alt="Buscar" />
      </button>
    </div>
    <div class="col-auto" *ngIf="DescripcionVisible">
      <input
          type="text" [id]="id+'_txt_descripcion'" class="form-control" 
          [disabled]="!HabilitarDescripcion" [style.width.px]="TamanioDescripcion" [(ngModel)]="txt_description" />
    </div>
  </div>
    <span style="display: none;">
      <input type="hidden" [id]="id+'_hidCodigo'" #codigoHidden [(ngModel)]="hidCodigo" />
      <input type="hidden" [id]="id+'_hid_SearchFiltro'" [(ngModel)]="hid_SearchFiltro" />
      <button type="button" hidden [id]="id+'_btnLimpiar'" (click)="onClickLimpiar()"></button>
      <button type="button" hidden [id]="id+'_btnBuscar'" (click)="buscarCodigo()"></button>
    </span>
</div> -->

<!-- <div class="mb-0 d-flex align-items-center">
  <div style="width: 100%; display: flex; align-items: center; gap: 5px;">
    <input
        type="text" [id]="id+'_txt_code'"
        (change)="onChange($event)" (keypress)="onKeyPress($event)" (input)="onInput($event)"
        class="form-control"
        [disabled]="!Enabled" [attr.maxlength]="MaxLength" 
        [style.flex]="'1'" 
        name="txt_code" [(ngModel)]="txt_code"/>
        
    <button type="button" class="btn btn-light" [id]="id+'_btnSearch'" 
            #btnBuscar (click)="buscar()" [disabled]="!Enabled">
      <img src="assets/images/buscar.png" alt="Buscar" />
    </button>
    <div *ngIf="DescripcionVisible">
    <input
      type="text" [id]="id+'_txt_descripcion'" class="form-control" 
      [disabled]="!HabilitarDescripcion" [(ngModel)]="txt_description" 
      name="txt_description" [style.flex]="'2'"/>
    </div>
  </div>
</div>
<span style="display: none;">
  <input type="hidden" [id]="id+'_hidCodigo'" #codigoHidden [(ngModel)]="hidCodigo" />
  <input type="hidden" [id]="id+'_hid_SearchFiltro'" [(ngModel)]="hid_SearchFiltro" />
  <button type="button" hidden [id]="id+'_btnLimpiar'" (click)="onClickLimpiar()"></button>
  <button type="button" hidden [id]="id+'_btnBuscar'" (click)="buscarCodigo()"></button>
</span> -->


<div class="d-flex align-items-center w-100 gap-2">
  <!-- <div style="width: 100%; display: flex; align-items: center; gap: 5px;"> -->
    <input type="text" [id]="id+'_txt_code'"
        (change)="onChange($event)" (keypress)="onKeyPress($event)" (input)="onInput($event)"
        class="form-control flex-grow-1 me-2"
        [disabled]="!Enabled" [attr.maxlength]="MaxLength" 
        name="txt_code" [(ngModel)]="txt_code"/>
        
    <button type="button" class="btn btn-light d-flex align-items-center" [id]="id+'_btnSearch'" 
            #btnBuscar (click)="buscar()" [disabled]="!Enabled">
      <img src="assets/images/buscar.png" alt="Buscar" />
    </button>
    <!-- <div *ngIf="DescripcionVisible"> -->
    <input *ngIf="DescripcionVisible"
      type="text" [id]="id+'_txt_descripcion'" class="form-control flex-grow-2" 
      [disabled]="!HabilitarDescripcion" [(ngModel)]="txt_description" 
      name="txt_description" />
    <!-- </div> -->
  <!-- </div> -->
</div>
<span style="display: none;">
  <input type="hidden" [id]="id+'_hidCodigo'" #codigoHidden [(ngModel)]="hidCodigo" />
  <input type="hidden" [id]="id+'_hid_SearchFiltro'" [(ngModel)]="hid_SearchFiltro" />
  <button type="button" hidden [id]="id+'_btnLimpiar'" (click)="onClickLimpiar()"></button>
  <button type="button" hidden [id]="id+'_btnBuscar'" (click)="buscarCodigo()"></button>
</span>

<!-- 
<div class="container mt-4">
  <div class="row align-items-center">
    <div class="mb-3 d-flex align-items-center">
      <input
          type="text" [id]="id+'_txt_code'"
          (change)="onChange($event)" (keypress)="onKeyPress($event)" (input)="onInput($event)"
          class="form-control flex-grow-1"
          [disabled]="!Enabled" [attr.maxlength]="MaxLength" 
          [style.width.px]="TamanioCodigo" [(ngModel)]="txt_code"
          name="txt_code" />
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-light" [id]="id+'_btnSearch'" 
              #btnBuscar (click)="buscar()" [disabled]="!Enabled">
        <img src="assets/images/buscar.png" alt="Buscar" />
      </button>
    </div>
    <div class="mb-3 d-flex align-items-center" *ngIf="DescripcionVisible">
      <input
          type="text" [id]="id+'_txt_descripcion'" class="form-control flex-grow-1" 
          [disabled]="!HabilitarDescripcion" [style.width.px]="TamanioDescripcion" [(ngModel)]="txt_description" />
    </div>
  </div>
    <span style="display: none;">
      <input type="hidden" [id]="id+'_hidCodigo'" #codigoHidden [(ngModel)]="hidCodigo" />
      <input type="hidden" [id]="id+'_hid_SearchFiltro'" [(ngModel)]="hid_SearchFiltro" />
      <button type="button" hidden [id]="id+'_btnLimpiar'" (click)="onClickLimpiar()"></button>
      <button type="button" hidden [id]="id+'_btnBuscar'" (click)="buscarCodigo()"></button>
    </span>
</div>
 -->
