<ul class="list-unstyled ms-3">
  <li *ngFor="let node of nodes">
    <div class="d-flex align-items-center mb-1">
      <span class="me-1" style="cursor: pointer;" (click)="toggleExpand(node)">
        {{ node.children ? (node['expanded'] ? '▼' : '▶') : '' }}
      </span>

      <input type="checkbox"
             class="form-check-input me-2"
             [(ngModel)]="node.checked"
             (change)="toggleCheckbox(node)">

      <i [ngClass]="node.icon" class="me-0"></i>
      <span>{{ node.label }}</span>
    </div>

    <ul *ngIf="node.children && node['expanded']" class="list-unstyled ms-0">
      <app-treeview [nodes]="node.children"></app-treeview>
    </ul>
  </li>
</ul>
