    <ul class="list-group">
    <li *ngFor="let item of menu" class="list-group-item">
      <button class="btn btn-primary btn-sm w-100 text-start d-flex justify-content-between align-items-center" 
              (click)="toggle(item)">
        {{ item.syMenuName }}
        <span *ngIf="item.children?.length" class="bi" [ngClass]="{'bi-chevron-down': item.expanded, 'bi-chevron-right': !item.expanded}"></span>
      </button>
      
      <ul *ngIf="item.expanded" class="list-group mt-2">
        <li *ngFor="let child of item.children" class="list-group-item">
          <button class="btn btn-secondary btn-sm w-100 text-start d-flex justify-content-between align-items-center" 
                  (click)="toggle(child)">
            {{ child.syMenuName }}
            <span *ngIf="child.children?.length" class="bi" [ngClass]="{'bi-chevron-down': child.expanded, 'bi-chevron-right': !child.expanded}"></span>
          </button>
          
          <ul *ngIf="child.expanded" class="list-group mt-2">
            <li *ngFor="let subChild of child.children" class="list-group-item">
              <button class="btn btn-light btn-sm w-100 text-start" (click)="navigateTo(subChild.syUrl,subChild.syMenuName)">
                {{ subChild.syMenuName }}
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
   

